In [28]:
import agate

In [31]:
commercials = agate.Table.from_csv('GitHub/commercials.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'GitHub/commercials.xlsx'

In [32]:
print(commercials)

|----------------+---------------|
|  column_names  | column_types  |
|----------------+---------------|
|  wp_identifier | Number        |
|  network       | Text          |
|  market        | Text          |
|  location      | Text          |
|  program       | Text          |
|  program_type  | Text          |
|  start_time    | Date          |
|  end_time      | Date          |
|  archive_id    | Text          |
|  embed_url     | Text          |
|  sponsor       | Text          |
|  sponsor_type  | Text          |
|  subject       | Text          |
|  candidate     | Text          |
|  type          | Text          |
|  message       | Text          |
|  air_count     | Number        |
|  market_count  | Number        |
|  date_created  | DateTime      |
|----------------+---------------|

In [33]:
commercials_with_months = commercials.compute([
    ('month', agate.Formula(agate.Number(), lambda row: '%s' % row['start_time'].month))
])

I chose to look at which locations received the most ads in which month.

In [34]:
by_location = commercials_with_months.group_by('location')

In [36]:
by_location_by_month = by_location.group_by('month')

In [37]:
location_month_totals = by_location_by_month.aggregate([
    ('count', agate.Length())
])

In [38]:
location_month_totals = location_month_totals.order_by(lambda row: (row['location'], row['month']))

The above steps isolated the month and the location of the ads.

In [39]:
location_month_totals.print_table()

|----------------------------+-------+---------|
|  location                  | month |  count  |
|----------------------------+-------+---------|
|  Boston, MA, USA           |     1 |  9,820  |
|  Boston, MA, USA           |     2 |  4,655  |
|  Boston, MA, USA           |     3 |     67  |
|  Boston, MA, USA           |    10 |      5  |
|  Boston, MA, USA           |    11 |    589  |
|  Boston, MA, USA           |    12 |  5,847  |
|  Cedar Rapids, IA, USA     |     1 | 10,820  |
|  Cedar Rapids, IA, USA     |     2 |    611  |
|  Cedar Rapids, IA, USA     |    10 |      4  |
|  Cedar Rapids, IA, USA     |    11 |    471  |
|  Cedar Rapids, IA, USA     |    12 |  3,848  |
|  Charlotte, NC, USA        |     2 |    134  |
|  Cincinnati, OH, USA       |     1 |    197  |
|  Cincinnati, OH, USA       |     2 |    344  |
|  Cincinnati, OH, USA       |     3 |     20  |
|  Cleveland, OH, USA        |     1 |    246  |
|  Cleveland, OH, USA        |     2 |    287  |
|  Cleveland, OH, USA        |     3 |      7  |
|  Colorado Springs, CO, USA |     1 |     15  |
|  Colorado Springs, CO, USA |     2 |  1,088  |
|  Colorado Springs, CO, USA |     3 |     70  |
|  Columbia, SC, USA         |     1 |  2,056  |
|  Columbia, SC, USA         |     2 |  7,499  |
|  Columbia, SC, USA         |    12 |    109  |
|  Denver, CO, USA           |     1 |     28  |
|  Denver, CO, USA           |     2 |  1,484  |
|  Denver, CO, USA           |     3 |     62  |
|  Des Moines, IA, USA       |     1 | 10,890  |
|  Des Moines, IA, USA       |     2 |    707  |
|  Des Moines, IA, USA       |     3 |      1  |
|  Des Moines, IA, USA       |    10 |      6  |
|  Des Moines, IA, USA       |    11 |    433  |
|  Des Moines, IA, USA       |    12 |  3,827  |
|  Greenville, SC, USA       |     1 |  1,628  |
|  Greenville, SC, USA       |     2 |  6,351  |
|  Greenville, SC, USA       |    12 |     92  |
|  Las Vegas, NV, USA        |     1 |  1,793  |
|  Las Vegas, NV, USA        |     2 |  4,842  |
|  Las Vegas, NV, USA        |    12 |     24  |
|  Miami, FL, USA            |     1 |     42  |
|  Miami, FL, USA            |     2 |    155  |
|  Miami, FL, USA            |     3 |     27  |
|  New York, NY, USA         |     1 |     30  |
|  New York, NY, USA         |     2 |     25  |
|  New York, NY, USA         |     3 |      1  |
|  New York, NY, USA         |    11 |      1  |
|  New York, NY, USA         |    12 |     33  |
|  Norfolk, VA, USA          |     1 |     19  |
|  Norfolk, VA, USA          |     2 |    666  |
|  Norfolk, VA, USA          |     3 |    139  |
|  Orlando, FL, USA          |     1 |     26  |
|  Orlando, FL, USA          |     2 |    206  |
|  Orlando, FL, USA          |     3 |     76  |
|  Philadelphia, PA, USA     |     1 |     53  |
|  Philadelphia, PA, USA     |     2 |     51  |
|  Philadelphia, PA, USA     |     3 |      6  |
|  Philadelphia, PA, USA     |    11 |      4  |
|  Philadelphia, PA, USA     |    12 |    113  |
|  Raleigh, NC, USA          |     1 |     12  |
|  Raleigh, NC, USA          |     2 |    351  |
|  Raleigh, NC, USA          |     3 |     30  |
|  Reno, NV, USA             |     1 |  2,042  |
|  Reno, NV, USA             |     2 |  3,781  |
|  Reno, NV, USA             |     3 |      1  |
|  Roanoke, VA, USA          |     1 |      5  |
|  Roanoke, VA, USA          |     2 |    313  |
|  Roanoke, VA, USA          |     3 |     37  |
|  San Francisco, CA, USA    |     1 |  1,977  |
|  San Francisco, CA, USA    |     2 |  1,791  |
|  San Francisco, CA, USA    |     3 |     63  |
|  San Francisco, CA, USA    |    10 |      3  |
|  San Francisco, CA, USA    |    11 |    139  |
|  San Francisco, CA, USA    |    12 |  1,229  |
|  Sioux City, IA, USA       |     1 |  8,981  |
|  Sioux City, IA, USA       |     2 |    637  |
|  Sioux City, IA, USA       |    11 |    166  |
|  Sioux City, IA, USA       |    12 |  2,857  |
|  Tampa, FL, USA            |     1 |     33  |
|  Tampa, FL, USA            |     2 |    226  |
|  Tampa, FL, USA            |     3 |     62  |
|  Woodbridge, VA, USA       |     1 |     23  |
|  Woodbridge, VA, USA       |     2 |    658  |
|  Woodbridge, VA, USA       |     3 |     61  |
|  Woodbridge, VA, USA       |    11 |      1  |
|  Woodbridge, VA, USA       |    12 |     29  |
|----------------------------+-------+---------|

In [50]:
sorted_locations = location_month_totals.order_by('count', reverse=True)

In [51]:
sorted_locations.print_table()

|----------------------------+-------+---------|
|  location                  | month |  count  |
|----------------------------+-------+---------|
|  Des Moines, IA, USA       |     1 | 10,890  |
|  Cedar Rapids, IA, USA     |     1 | 10,820  |
|  Boston, MA, USA           |     1 |  9,820  |
|  Sioux City, IA, USA       |     1 |  8,981  |
|  Columbia, SC, USA         |     2 |  7,499  |
|  Greenville, SC, USA       |     2 |  6,351  |
|  Boston, MA, USA           |    12 |  5,847  |
|  Las Vegas, NV, USA        |     2 |  4,842  |
|  Boston, MA, USA           |     2 |  4,655  |
|  Cedar Rapids, IA, USA     |    12 |  3,848  |
|  Des Moines, IA, USA       |    12 |  3,827  |
|  Reno, NV, USA             |     2 |  3,781  |
|  Sioux City, IA, USA       |    12 |  2,857  |
|  Columbia, SC, USA         |     1 |  2,056  |
|  Reno, NV, USA             |     1 |  2,042  |
|  San Francisco, CA, USA    |     1 |  1,977  |
|  Las Vegas, NV, USA        |     1 |  1,793  |
|  San Francisco, CA, USA    |     2 |  1,791  |
|  Greenville, SC, USA       |     1 |  1,628  |
|  Denver, CO, USA           |     2 |  1,484  |
|  San Francisco, CA, USA    |    12 |  1,229  |
|  Colorado Springs, CO, USA |     2 |  1,088  |
|  Des Moines, IA, USA       |     2 |    707  |
|  Norfolk, VA, USA          |     2 |    666  |
|  Woodbridge, VA, USA       |     2 |    658  |
|  Sioux City, IA, USA       |     2 |    637  |
|  Cedar Rapids, IA, USA     |     2 |    611  |
|  Boston, MA, USA           |    11 |    589  |
|  Cedar Rapids, IA, USA     |    11 |    471  |
|  Des Moines, IA, USA       |    11 |    433  |
|  Raleigh, NC, USA          |     2 |    351  |
|  Cincinnati, OH, USA       |     2 |    344  |
|  Roanoke, VA, USA          |     2 |    313  |
|  Cleveland, OH, USA        |     2 |    287  |
|  Cleveland, OH, USA        |     1 |    246  |
|  Tampa, FL, USA            |     2 |    226  |
|  Orlando, FL, USA          |     2 |    206  |
|  Cincinnati, OH, USA       |     1 |    197  |
|  Sioux City, IA, USA       |    11 |    166  |
|  Miami, FL, USA            |     2 |    155  |
|  Norfolk, VA, USA          |     3 |    139  |
|  San Francisco, CA, USA    |    11 |    139  |
|  Charlotte, NC, USA        |     2 |    134  |
|  Philadelphia, PA, USA     |    12 |    113  |
|  Columbia, SC, USA         |    12 |    109  |
|  Greenville, SC, USA       |    12 |     92  |
|  Orlando, FL, USA          |     3 |     76  |
|  Colorado Springs, CO, USA |     3 |     70  |
|  Boston, MA, USA           |     3 |     67  |
|  San Francisco, CA, USA    |     3 |     63  |
|  Denver, CO, USA           |     3 |     62  |
|  Tampa, FL, USA            |     3 |     62  |
|  Woodbridge, VA, USA       |     3 |     61  |
|  Philadelphia, PA, USA     |     1 |     53  |
|  Philadelphia, PA, USA     |     2 |     51  |
|  Miami, FL, USA            |     1 |     42  |
|  Roanoke, VA, USA          |     3 |     37  |
|  New York, NY, USA         |    12 |     33  |
|  Tampa, FL, USA            |     1 |     33  |
|  New York, NY, USA         |     1 |     30  |
|  Raleigh, NC, USA          |     3 |     30  |
|  Woodbridge, VA, USA       |    12 |     29  |
|  Denver, CO, USA           |     1 |     28  |
|  Miami, FL, USA            |     3 |     27  |
|  Orlando, FL, USA          |     1 |     26  |
|  New York, NY, USA         |     2 |     25  |
|  Las Vegas, NV, USA        |    12 |     24  |
|  Woodbridge, VA, USA       |     1 |     23  |
|  Cincinnati, OH, USA       |     3 |     20  |
|  Norfolk, VA, USA          |     1 |     19  |
|  Colorado Springs, CO, USA |     1 |     15  |
|  Raleigh, NC, USA          |     1 |     12  |
|  Cleveland, OH, USA        |     3 |      7  |
|  Des Moines, IA, USA       |    10 |      6  |
|  Philadelphia, PA, USA     |     3 |      6  |
|  Boston, MA, USA           |    10 |      5  |
|  Roanoke, VA, USA          |     1 |      5  |
|  Cedar Rapids, IA, USA     |    10 |      4  |
|  Philadelphia, PA, USA     |    11 |      4  |
|  San Francisco, CA, USA    |    10 |      3  |
|  Des Moines, IA, USA       |     3 |      1  |
|  New York, NY, USA         |     3 |      1  |
|  New York, NY, USA         |    11 |      1  |
|  Reno, NV, USA             |     3 |      1  |
|  Woodbridge, VA, USA       |    11 |      1  |
|----------------------------+-------+---------|

After the initial print, I sorted by most ads.

In [2]:
import agate

In [ ]:
tester = agate.TypeTester (limit=100)
commercials